version 5.257.0
source https://www.nuget.org/api/v2
storage: none

nuget Expecto
nuget FSharp.Core

nuget FSharp.Compiler.Service 38.0.2
nuget FSharp.Quotations.Evaluator

nuget Microsoft.Build.Utilities.Core

nuget Argu
nuget Suave
nuget LibGit2Sharp

group Build
  source https://www.nuget.org/api/v2
  storage: none
  nuget Fake.Core.Target
  nuget Fake.Core.Process
  nuget Fake.DotNet.Cli
  nuget Fake.Core.ReleaseNotes
  nuget Fake.DotNet.AssemblyInfoFile
  nuget Fake.DotNet.Paket
  nuget Fake.Tools.Git
  nuget Fake.Core.Environment
  nuget Fake.Core.UserInput
  nuget Fake.IO.FileSystem
  nuget Fake.DotNet.MsBuild
  nuget Fake.Api.GitHub